.todolist {
  list-style: none;
  width: 500px;
  margin: 1em auto;
}

.todolist ol {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.todolist a {
  margin-top: 5px;
  color: #000000;
  text-decoration: none;
  transition: 0.5s;
  justify-content: center;
  margin-bottom: 29px;
  margin-bottom: 25px;
  display: flex;
}

.todolist p {
  
  padding: 5px 2px;
  border: solid 1px;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  width: 200px;
}
.todolist p:hover {
  color: #bbff00;
}